#quote-box {
	width: 500px;
	height: 100px;

	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;

    margin: auto;
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}
